.gl-extra-btns-wrapper {
    line-height: 32px !important;
    margin-left: 20px;
}

.gl-hero-img-wrapper .container .gl-elements-content-wrapper .gl-directory-searchbar form fieldset input {
    width: 100%;
}

:focus::-webkit-input-placeholder {
    opacity: 1;
}

:focus:-moz-placeholder {
    opacity: 1;
}

:focus::-moz-placeholder {
    opacity: 1;
}

:focus:-ms-input-placeholder {
    opacity: 1;
}

.gl-google-login {
    background-color: #fff;
    border: 1px solid #fc313a !important;
    color: #585858 !important;
}

.review-home {
    width: 30%;
}

.gl-hero-img-wrapper .container .gl-elements-content-wrapper .gl-directory-searchbar form fieldset {
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.1), inset 2px 2px 1px #f0f0f0;
}

.gl-hero-img-wrapper .container .gl-elements-content-wrapper .gl-directory-searchbar form fieldset input {
    border: 0px;
}

.gl-job-list-item .gl-job-list-item-wrapper a .gl-job-position-company h3 {
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
}

.gl-circle-load-search {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
}

.close-animatedModal {
    float: right;
    margin: 20px;
    font-size: 1.4em;
    cursor: pointer;
}

.gl-icon-btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logo {
    width: 60%;
}

footer .gl-footer-top-wrapper {
    background-color: #fff;
}

@media only screen and (min-width: 778px) {
    footer .gl-footer-top-wrapper .gl-footer-widget {
        border-left: 1px solid #c5c5c5 !important;
        width: 33%;
    }
    footer .gl-footer-top-wrapper .gl-footer-widget:first-child {
        width: 33%;
        border-left: 0px !important;
    }
}

.gl-side-menu-widget-wrap .gl-login-form input {
    color: #484848;
}

.signup,
.forgetpassword {
    display: none;
}

md-input-container .md-errors-spacer {
    min-height: 0px;
}

.gl-circle-load {
    width: 150px;
    text-align: center;
}

.gl-circle-load img {
    width: 80px;
}

#gl-review-loader-wrapper {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
    z-index: 999;

}
.gl-review-loader-center{
    width: 100%;
    height: 100%;
    position: relative;
}

#outer-box{
	 display:block;
  position:relative;
	padding:0px;
}

.gl-review-load {
    width: 250px;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 20%;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.gl-review-load a{

	font-size:1.5em;
}

.gl-ranges {
    font-size:14px;
    margin-left:2px;
}

.gl-project-description {
    background-color:#fff;
    margin: 5px;
    padding:10px;
}