//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^roofpik.com[nc]
RewriteRule ^(.*)$ http://www.roofpik.com/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|png|css|js)$">
Header set Cache-Control "max-age=3600"
</FilesMatch>