<!--Call your modal-->
<a id="demo01" href="#animatedModal"></a>
<!--DEMO01-->
<div id="animatedModal" ng-controller="searchCtrl">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="modal-content">
        <section>
            <div class="container">
                <div class="row">
                    <div class="close-animatedModal">
                        X
                    </div>
                    <div class="gl-elements-content-wrapper">
                        <!-- DIRECTORY FORM -->
                        <div class="gl-directory-searchbar gl-bz-directory-searchbar">
                            <p class="gl-sub-heading">You are currently in - Gurgaon</p>
                            <form action="#" id="gl-bz-directory-form">
                                <fieldset>
                                    <input type="text" name="gl-business-keyword" id="SearchQuery" class="gl-directory-input" placeholder="Search by project, builder, landmark or locality" ng-model="search.query" ng-change="searchfn()">
                                </fieldset>
                                <button type="submit" class="gl-icon-btn"><img src="images/ploading.gif" ng-show="search.process" />Search</button>
                            </form>
                        </div>
                        <!-- END -->
                    </div>
                </div>
                <!-- Row -->
                <div class="gl-row" ng-show="!search.process">
                    <!-- Job item -->
                    <div class="panel panel-default gl-job-list-item" ng-repeat="project in projects">
                        <!-- Job Excerpt -->
                        <div class="gl-job-list-item-wrapper panel-heading" role="tab" ng-click="searchClick(project)">
                            <a role="button">
                                <!-- LOGO -->
                            <!--     <div class="gl-job-company-logo gl-job-item-part">
                                    <img src="images/placeholder-small.jpg" alt="Deep Purple inc" class="gl-lazy">
                                </div> -->
                                <!-- END -->
                                <!-- JOB POSTION & COMPANY NAME -->
                                <div class="gl-job-position-company gl-job-item-part">
                                    <h3>
                                       {{project.name}} 
                                    </h3>
                                    <p class="gl-company-name">{{project.type}}</p>
                                </div>
                                <!-- END -->
                                <!-- JOB AVAILABILITY -->
                                <!--   <div class="gl-job-availability gl-job-item-part">
                                    <span class="gl-item-status-label full-time-job">Full time</span>
                                </div> -->
                                <!-- END -->
                                <!-- SALLERY -->
                                <!-- END -->
                                <!-- AREA -->
                                <div class="gl-job-location gl-job-item-part" ng-show="project.displayLocation">
                                    <i class="ion-ios-location-outline"></i>
                                    <span>{{project.displayLocation}}</span>
                                </div>
                                <!-- END -->
                            </a>
                        </div>
                        <!-- END -->
                    </div>
                    <!-- End -->
                </div>
                <!-- Row End -->
            </div>
        </section>
    </div>
</div>
<script src="js/animatedModal.min.js"></script>
<script>
$("#demo01").animatedModal();

function openSeacrh() {

    $("#demo01").click();
    $("#SearchQuery").focus();

}
</script>
