<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>

    <!-- PAGE CONTETNT -->
    <section class="gl-page-content-section" style="padding-bottom:0px;">
      <!-- ABOUT COMPANY -->
      <div class="gl-about-compnay-section gl-inner-section">
        <div class="container">
          <div class="row">
            <!-- About Text -->
            <div class="gl-about-company-text">
              <h3 class="gl-single-title">About Company</h3>
              <p>On the other hand, we denounce with righteous indignation and dislike men whos are of pleasure of the moment, so blinded by desire, that they cannot foresee the pain an On the other hand, we denounce with righteous indignation and dislike men who ares of pleasure of the moment, so blinded by desire, that they cannot foresee the pain an blame belongs to those who fail in their duty through weakness of will, which is the a On the other hand, we denounce with righteous indignation and dislike men whos are of pleasure of the moment, so blinded by desire, that they cannot foresee the pain an On the other hand, we denounce with righteous indignation and dislike men who ares of pleasure of the moment, so blinded by desire, that they cannot foresee the pain an </p>

              <p>On the other hand, we denounce with righteous indignation and dislike men whos are of pleasure of the moment, so blinded by desire, that they cannot foresee the pain an On the other hand, we denounce</p>
            </div>
            <!-- About Text End -->
          </div>
        </div>
      </div>
      <!-- ABOUT COMPANY END -->

      <!-- EXPERT TEAM -->
      <div class="gl-expert-team-section gl-inner-section" style="padding-top: 0px;">
        <div class="container">
          <div class="row">
            <!-- SECTION HEADINGS -->
            <div class="gl-section-headings">
              <h1>Expert Team</h1>
              <!-- <p>Checkout and enjoy the biggest unlimited possiblities</p> -->
            </div>
            <!-- END -->

            <div class="gl-team-wrapper">
              <!-- Agent -->
              <div class="gl-agents-box col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="gl-agents-img-wrapper">
                  <img src="images/arpit.jpg" alt="AGENTS" class="gl-lazy">
                </div>

                <div class="gl-feat-item-details">
                  <h3>
                    <a href="#">Arpit Mittal</a>
                  </h3>
                  <p>Co-Founder</p>
                </div>
              </div>
              <!-- END -->

              <!-- Agent -->
              <div class="gl-agents-box col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="gl-agents-img-wrapper">
                  <img src="images/mishu.jpg" alt="AGENTS" class="gl-lazy">
                </div>

                <div class="gl-feat-item-details">
                  <h3>
                    <a href="#">Mishu Ahluwalia</a>
                  </h3>
                  <p>Co-Founder</p>
                </div>
              </div>
              <!-- END -->

              <!-- Agent -->
              <div class="gl-agents-box col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".7s">
                <div class="gl-agents-img-wrapper">
                  <img src="images/kanika.jpg" alt="AGENTS" class="gl-lazy">
                </div>

                <div class="gl-feat-item-details">
                  <h3>
                    <a href="#">Kanika Katoch</a>
                  </h3>
                  <p>Co-Founder</p>
                </div>
              </div>
              <!-- END -->

            </div>
          </div>
        </div>
      </div>
      <!-- EXPERT TEAM END -->
    <div ng-include="'navigation/footer.html'"></div>
    <script src="js/infobubble-richmarker.js"></script>
</md-content>
