<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <section class="gl-about-page-header-wrapper">
        <div class="container">
            <div class="row">
                <h1 class="gl-page-title">About Us</h1>
            </div>
        </div>
    </section>
    <!-- PAGE CONTETNT -->
    <section class="gl-page-content-section" style="padding-bottom:0px;">
        <!-- ABOUT COMPANY -->
        <div class="gl-about-compnay-section gl-inner-section">
            <div class="container">
                <div class="row">
                    <!-- About Text -->
                    <div class="gl-about-company-text">
                        <p>We rely on reviews for the littlest of things, yet there is no unbiased platform we can refer to when we make one of the biggest decisions; whether it is to rent, buy or invest. Roofpik is your platform to share valued opinions about properties and locality. This will create a pool of reliable reviews which people can rely upon when making integral decisions.</p>
                        <p>This gives an opportunity for people with first-hand experience to share their thoughts, as a person living within a community will be able to share information which is valuable in understanding what the real assets are of a particular property and what things can be improved. The reviews gathered will enable us to provide users with ratings on a list of structured parameters, statistical ranking for projects and a comparative listing feature to give a powerful evaluation.</p>
                        <p>Genuine reviews can be accessed from anywhere with just a click, saving you from the hassle of running around the locality to get first-hand opinions. You will get total transparency with reviews from residents, giving you access to different perspectives. A comparative analysis will help you in the future to shortlist your choices to arrive at the most suitable option for you.</p>
                    </div>
                    <!-- About Text End -->
                </div>
            </div>
        </div>
        <!-- ABOUT COMPANY END -->
        <!-- EXPERT TEAM -->
        <div class="gl-expert-team-section gl-inner-section" style="padding-top: 0px;">
            <div class="container">
                <div class="row">
                    <!-- SECTION HEADINGS -->
                    <div class="gl-section-headings">
                        <h1>Our Team</h1>
                        <!-- <p>Checkout and enjoy the biggest unlimited possiblities</p> -->
                    </div>
                    <!-- END -->
                    <div class="gl-team-wrapper">
                        <!-- Agent -->
                        <div class="gl-agents-box col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="gl-agents-img-wrapper">
                                <img src="images/arpit.jpg" alt="AGENTS" class="gl-lazy">
                            </div>
                            <div class="gl-feat-item-details">
                                <h3>
                    Arpit Mittal 
                  </h3>
                                <p>Co-Founder
                                    <a href="https://in.linkedin.com/in/arpitmittal4"> <i class="fa fa-linkedin"></i> </a>
                                </p>
                            </div>
                        </div>
                        <!-- END -->
                        <!-- Agent -->
                        <div class="gl-agents-box col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="gl-agents-img-wrapper">
                                <img src="images/mishu.jpg" alt="AGENTS" class="gl-lazy">
                            </div>
                            <div class="gl-feat-item-details">
                                <h3>
                    Mishu Ahluwalia
                  </h3>
                                <p>Co-Founder
                                    <a href="https://in.linkedin.com/in/mishu-ahluwalia-2385628"> <i class="fa fa-linkedin"></i> </a>
                                </p>
                            </div>
                        </div>
                        <!-- END -->
                        <!-- Agent -->
                        <div class="gl-agents-box col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".7s">
                            <div class="gl-agents-img-wrapper">
                                <img src="images/kanika.jpg" alt="AGENTS" class="gl-lazy">
                            </div>
                            <div class="gl-feat-item-details">
                                <h3>
                   Kanika Katoch
                  </h3>
                                <p>Co-Founder
                                    <a href="https://in.linkedin.com/in/kanika-katoch-a6a08b17"> <i class="fa fa-linkedin"></i> </a>
                                </p>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- EXPERT TEAM END -->
        <div ng-include="'navigation/footer.html'"></div>
        <script src="js/infobubble-richmarker.js"></script>
</md-content>
