<md-content>
  <style>
      div.jobDescription {
        padding: 18px;
        line-height: 25px;
        display: none;
        background-color: #f2f2f2;
        /*border: 1px solid #ccc;*/
      }

      div.jobDescription.show {
          display: block;
      }
  </style>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <!-- Elements Shortcode -->
    <div class="gl-elements-page">
    <section class="gl-elements-shortcode-section">
      <div class="container">
        <div class="row">
          <!-- Row -->
          <div class="gl-row">
            <h3 class="job-profiles">Job Profiles</h3>
            <!-- Job item -->
            <div class="panel panel-default gl-job-list-item">
              <!-- Job Excerpt -->
              <div class="gl-job-list-item-wrapper panel-heading" role="tab" id="jobOne" >
                <a role="button" data-parent="#featured-job" class="accordion">

                  <!-- JOB POSTION & COMPANY NAME -->
                  <div class="gl-job-position-company gl-job-item-part">
                    <h3>
                        Events and Marketing Executive
                    </h3>
                  </div>
                  <!-- END -->

                  <!-- JOB AVAILABILITY -->
                  <div class="gl-job-availability gl-job-item-part">
                    <span class="gl-item-status-label full-time-job">Full Time/Freelancer</span>
                  </div>
                  <!-- END -->

                  <!-- AREA -->
                  <div class="gl-job-location gl-job-item-part">
                    <i class="ion-ios-location-outline"></i>
                    <span>Gurgaon</span>
                  </div>
                  <!-- END -->
                </a>

                <!-- Job Details -->
                <div id="jobOneDetails" class="jobDescription gl-job-list-details">
                  <div class="panel-body">
                    <div class="gl-jobdetails-sec">
                      <h3>Key Responsibilities</h3>
                      <ul>
                        <li>Prepare client presentations, pitch books and brochures.</li>
                        <li>Work on strategy and the marketing campaigns.</li>
                        <li>Would be required to work on Customer Acquisition through Events and Promotional Campaigns.</li>
                        <li>Should be able tofollow up on leads, network to expand user base of the company.</li>
                        <li>Make presentations, develop, maintain and manage company portfolios.</li>
                        <li>Maintain assigned user base while developing new users.</li>
                        <li>Deliver advertising or illustration proofs to customers for acquisition.</li>
                        <li>Attend   sales   meetings,   industry   trade   shows,   and   training   seminars   in   order   to   gather information, promote products, expand network of contacts, and increase knowledge.</li>
                      </ul>
                    </div>

                    <div class="gl-jobdetails-sec">
                      <h3>What We Require?</h3>

                      <ul>
                        <li>Education from a reputed institute or graduates with requisite experience.</li>
                        <li>0-2 years of experience in customer acquisition andusermanagement.</li>
                        <li>Willing to travel (both local and domestic).</li>
                        <li>Good communication and inter personal skills.</li>
                        <li>Prior exposure to organizing seminars or marketing related activities will be a plus.</li>
                        <li>Should be able to confidently handle customers.</li>
                        <li>Inquisitive and Self Starter to meet the targets set by the marketing team.</li>
                        <li>Candidates  who  understand  the  working  of  a  start-up  venture  and  having  entrepreneurial  frame  of mind would be preferred.</li>
                        <li>Candidate should have strong communication skills and pleasing personality.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- END -->
              </div>
              <!-- END -->
            </div>
            <!-- End -->
            <div class="panel panel-default gl-job-list-item">
              <!-- Job Excerpt -->
              <div class="gl-job-list-item-wrapper panel-heading" role="tab" id="jobOne" >
                <a role="button" data-parent="#featured-job" class="accordion">

                  <!-- JOB POSTION & COMPANY NAME -->
                  <div class="gl-job-position-company gl-job-item-part">
                    <h3>
                        Business Development Intern
                    </h3>
                  </div>
                  <!-- END -->

                  <!-- JOB AVAILABILITY -->
                  <div class="gl-job-availability gl-job-item-part">
                    <span class="gl-item-status-label part-time-job">Internship</span>
                  </div>
                  <!-- END -->

                  <!-- AREA -->
                  <div class="gl-job-location gl-job-item-part">
                    <i class="ion-ios-location-outline"></i>
                    <span>Gurgaon</span>
                  </div>
                  <!-- END -->
                </a>

                <!-- Job Details -->
                <div id="jobOneDetails" class="jobDescription gl-job-list-details">
                  <div class="panel-body">
                    <div class="gl-jobdetails-sec">
                      <h3>Key Responsibilities</h3>
                      <ul>
                        <li>Build an accurate and effective database of current and potential stakeholders. Requires some amount of cold calling as well.</li>
                        <li>Call and visit vendor offices to establish relationship.</li>
                        <li>Develop and/or maintain business relations with new and existing stakeholders.</li>
                        <li>Carry out internet research efficiently and interpret/analyse data.</li>
                        <li>Prepare client presentations, pitch books and brochures.</li>
                        <li>Work on business strategy and the marketing campaign.</li>
                      </ul>
                    </div>

                    <div class="gl-jobdetails-sec">
                      <h3>What We Require?</h3>

                      <ul>
                        <li>Education from a reputed institute or graduates with requisite experience.</li>
                        <li>Experience in vendor acquisition and client management.</li>
                        <li>Willing to travel (both local and domestic).</li>
                        <li>Candidates who understand the working of a start-up venture and having entrepreneurial frame of mind would be preferred.</li>
                        <li>Candidate should have strong communication skills and pleasing personality.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- END -->
              </div>
              <!-- END -->
            </div>
            <!-- End -->

            <div class="panel panel-default gl-job-list-item">
              <!-- Job Excerpt -->
              <div class="gl-job-list-item-wrapper panel-heading" role="tab" id="jobOne" >
                <a role="button" data-parent="#featured-job" class="accordion">

                  <!-- JOB POSTION & COMPANY NAME -->
                  <div class="gl-job-position-company gl-job-item-part">
                    <h3>
                        Application Developer and Machine Learning
                    </h3>
                  </div>
                  <!-- END -->

                  <!-- JOB AVAILABILITY -->
                  <div class="gl-job-availability gl-job-item-part">
                    <span class="gl-item-status-label remote-job">Full Time/Freelancer</span>
                  </div>
                  <!-- END -->

                  <!-- AREA -->
                  <div class="gl-job-location gl-job-item-part">
                    <i class="ion-ios-location-outline"></i>
                    <span>Gurgaon</span>
                  </div>
                  <!-- END -->
                </a>

                <!-- Job Details -->
                <div id="jobOneDetails" class="jobDescription gl-job-list-details">
                  <div class="panel-body">
                    <div class="gl-jobdetails-sec">
                      <h3>Key Responsibilities</h3>
                      <ul>
                        <li>Build an accurate and effective database of current and potential stakeholders. Requires some amount of cold calling as well.</li>
                        <li>Call and visit vendor offices to establish relationship.</li>
                        <li>Develop and/or maintain business relations with new and existing stakeholders.</li>
                        <li>Carry out internet research efficiently and interpret/analyse data.</li>
                        <li>Prepare client presentations, pitch books and brochures.</li>
                        <li>Work on business strategy and the marketing campaign.</li>
                      </ul>
                    </div>

                    <div class="gl-jobdetails-sec">
                      <h3>What We Require?</h3>

                      <ul>
                        <li>Education from a reputed institute or graduates with requisite experience.</li>
                        <li>Experience in vendor acquisition and client management.</li>
                        <li>Willing to travel (both local and domestic).</li>
                        <li>Candidates who understand the working of a start-up venture and having entrepreneurial frame of mind would be preferred.</li>
                        <li>Candidate should have strong communication skills and pleasing personality.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- END -->
              </div>
              <!-- END -->
            </div>
            <!-- End -->

            </div>
            <!-- End -->

          <!-- *****************
          GALLERY
          ***************** -->
          <div class="gl-element-type-wrapper">
            <!-- Element Name -->
            <h3 class="gl-element-title">Life At Roofpik</h3>
            <!-- End -->

            <div class="gl-element-wrapper col-md-12 col-sm-12 col-xs-12">
              <ul class="gl-gallery">
                  <li>
                    <a href="images/website1.jpg" class="gl-lightbox-img">
                      <img src="images/website1.jpg" alt="Profile Gallery Image" class="gl-lazy">
                    </a>
                  </li>
                  <li>
                    <a href="images/website2.jpg" class="gl-lightbox-img">
                      <img src="images/website2.jpg" alt="Profile Gallery Image" class="gl-lazy">
                    </a>
                  </li>
                  <li>
                    <a href="images/website3.jpg" class="gl-lightbox-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset=images/website3.jpg>
                        <img alt="Category Image" srcset=images/website3.jpg>
                    </picture>
                    </a>
                  </li>
                  <li>
                    <a href="images/website4.jpg" class="gl-lightbox-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset=images/website4.jpg>
                        <img alt="Category Image" srcset=images/website4.jpg>
                    </picture>
                    </a>
                  </li>
                  <li>
                    <a href="images/website5.jpg" class="gl-lightbox-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset=images/website5.jpg>
                        <img alt="Category Image" srcset=images/website5.jpg>
                    </picture>
                    </a>
                  </li>
                  <li>
                    <a href="images/website6.jpg" class="gl-lightbox-img"></a>
                  </li>
                  <li>
                    <a href="images/website7.jpg" class="gl-lightbox-img"></a>
                  </li>
                  <li>
                    <a href="images/website8.jpg" class="gl-lightbox-img"></a>
                  </li>
                </ul>
            </div>
          </div>
          <!-- Tags End -->



        </div>
      </div>
    </section>
    </div>
    <!-- Elements Shortcode End -->
    <div ng-include="'navigation/footer.html'"></div>
    <script src="js/infobubble-richmarker.js"></script>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            console.log(this);
            this.nextElementSibling.classList.toggle("show");
      }
    }
    </script>
</md-content>
