<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <!-- Elements Shortcode -->
    <section class="gl-elements-shortcode-section">
      <div class="container">
        <div class="row">
          <!-- Row -->
          <div class="gl-row">
            <h3 class="job-profiles">Job Profiles</h3>
            <!-- <h3 class="gl-element-title">Job Profiles</h3> -->
            <!-- Job item -->
            <div class="panel panel-default gl-job-list-item">
              <!-- Job Excerpt -->
              <div class="gl-job-list-item-wrapper panel-heading" role="tab" id="jobOne">
                <a role="button" data-toggle="collapse" data-parent="#featured-job" href="#jobOneDetails" aria-expanded="true" aria-controls="jobOneDetails">
                  <!-- LOGO -->
                  <div class="gl-job-company-logo gl-job-item-part">
                    <img src="images/placeholder-small.jpg" alt="Deep Purple inc" class="gl-lazy">
                  </div>
                  <!-- END -->

                  <!-- JOB POSTION & COMPANY NAME -->
                  <div class="gl-job-position-company gl-job-item-part">
                    <h3>
                        Product Designer
                    </h3>

                    <p class="gl-company-name">Deep Purple inc</p>
                  </div>
                  <!-- END -->

                  <!-- JOB AVAILABILITY -->
                  <div class="gl-job-availability gl-job-item-part">
                    <span class="gl-item-status-label full-time-job">Full time</span>
                  </div>
                  <!-- END -->

                  <!-- SALLERY -->
                  <div class="gl-job-sallery gl-job-item-part">
                    <!-- <i class="fa fa-money"></i>
                    <h3>Salary :</h3>
                    <span>$30000</span> -->
                  </div>
                  <!-- END -->

                  <!-- AREA -->
                  <div class="gl-job-location gl-job-item-part">
                    <i class="ion-ios-location-outline"></i>
                    <span>California</span>
                  </div>
                  <!-- END -->
                </a>
              </div>
              <!-- END -->

              <!-- Job Details -->
              <div id="jobOneDetails" class="panel-collapse collapse gl-job-list-details" role="tabpanel" aria-labelledby="jobOne">
                <div class="panel-body">
                  <div class="gl-jobdetails-sec">
                    <h3>About Job</h3>
                    <p>
                      On the other hand, we denounce with righteous indignation and dislike men who are so begueled and demoralized by the of pleasure so blinded by desire, that they cannot foresee the pain and trouble that are bounds to ensure blame belongs to those who fail in their weakness of will, which is the same
                    </p>
                  </div>

                  <div class="gl-jobdetails-sec">
                    <h3>Requirements</h3>

                    <ul>
                      <li>On the other hand, we denounce with righteous</li>
                      <li>Pleasure of the moment, so blinded by desire, that</li>
                      <li>Blame belongs to those who fail in their duty </li>
                      <li>On the other hand, we denounce</li>
                    </ul>
                  </div>

                  <div class="gl-jobdetails-sec">
                    <a data-remodal-target="modal" class="gl-btn gl-apply-job">Apply</a>
                    <a href="job-single.html" class="gl-btn gl-details-job">Details</a>
                  </div>
                </div>
              </div>
              <!-- END -->
            </div>
            <!-- End -->

            <!-- Job item -->
            <div class="panel panel-default gl-job-list-item">
              <!-- Job Excerpt -->
              <div class="gl-job-list-item-wrapper panel-heading" role="tab" id="jobTwo">
                <a role="button" data-toggle="collapse" data-parent="#featured-job" href="#jobTwoDetails" aria-expanded="true" aria-controls="jobTwoDetails">
                  <!-- LOGO -->
                  <div class="gl-job-company-logo gl-job-item-part">
                    <img src="images/placeholder-small.jpg" alt="Deep Purple inc" class="gl-lazy">
                  </div>
                  <!-- END -->

                  <!-- JOB POSTION & COMPANY NAME -->
                  <div class="gl-job-position-company gl-job-item-part">
                    <h3>Android Developer</h3>

                    <p class="gl-company-name">Deep Purple inc</p>
                  </div>
                  <!-- END -->

                  <!-- JOB AVAILABILITY -->
                  <div class="gl-job-availability gl-job-item-part">
                    <span class="gl-item-status-label part-time-job">Part time</span>
                  </div>
                  <!-- END -->

                  <!-- SALLERY -->
                  <div class="gl-job-sallery gl-job-item-part">
                    <!-- <i class="fa fa-money"></i>
                    <h3>Salary :</h3>
                    <span>$30000</span> -->
                  </div>
                  <!-- END -->

                  <!-- AREA -->
                  <div class="gl-job-location gl-job-item-part">
                    <i class="ion-ios-location-outline"></i>
                    <span>California</span>
                  </div>
                  <!-- END -->
                </a>
              </div>
              <!-- END -->

              <!-- Job Details -->
              <div id="jobTwoDetails" class="panel-collapse collapse gl-job-list-details" role="tabpanel" aria-labelledby="jobTwo">
                <div class="panel-body">
                  <div class="gl-jobdetails-sec">
                    <h3>About Job</h3>
                    <p>
                      On the other hand, we denounce with righteous indignation and dislike men who are so begueled and demoralized by the of pleasure so blinded by desire, that they cannot foresee the pain and trouble that are bounds to ensure blame belongs to those who fail in their weakness of will, which is the same
                    </p>
                  </div>

                  <div class="gl-jobdetails-sec">
                    <h3>Requirements</h3>

                    <ul>
                      <li>On the other hand, we denounce with righteous</li>
                      <li>Pleasure of the moment, so blinded by desire, that</li>
                      <li>Blame belongs to those who fail in their duty </li>
                      <li>On the other hand, we denounce</li>
                    </ul>
                  </div>

                  <div class="gl-jobdetails-sec">
                    <a data-remodal-target="modal" class="gl-btn gl-apply-job">Apply</a>
                    <a href="job-single.html" class="gl-btn gl-details-job">Details</a>
                  </div>
                </div>
              </div>
              <!-- END -->
            </div>
            <!-- End -->

            <!-- Job item -->
            <div class="panel panel-default gl-job-list-item">
              <!-- Job Excerpt -->
              <div class="gl-job-list-item-wrapper panel-heading" role="tab" id="jobThree">
                <a role="button" data-toggle="collapse" data-parent="#featured-job" href="#jobThreeDetails" aria-expanded="true" aria-controls="jobThreeDetails">
                  <!-- LOGO -->
                  <div class="gl-job-company-logo gl-job-item-part">
                    <img src="images/placeholder-small.jpg" alt="Deep Purple inc" class="gl-lazy">
                  </div>
                  <!-- END -->

                  <!-- JOB POSTION & COMPANY NAME -->
                  <div class="gl-job-position-company gl-job-item-part">
                    <h3>Product Designer</h3>
                    <p class="gl-company-name">Deep Purple inc</p>
                  </div>
                  <!-- END -->

                  <!-- JOB AVAILABILITY -->
                  <div class="gl-job-availability gl-job-item-part">
                    <span class="gl-item-status-label remote-job">Full time</span>
                  </div>
                  <!-- END -->

                  <!-- SALLERY -->
                  <div class="gl-job-sallery gl-job-item-part">
                    <!-- <i class="fa fa-money"></i>
                    <h3>Salary :</h3>
                    <span>$30000</span> -->
                  </div>
                  <!-- END -->

                  <!-- AREA -->
                  <div class="gl-job-location gl-job-item-part">
                    <i class="ion-ios-location-outline"></i>
                    <span>California</span>
                  </div>
                  <!-- END -->
                </a>
              </div>
              <!-- END -->

              <!-- Job Details -->
              <div id="jobThreeDetails" class="panel-collapse collapse gl-job-list-details" role="tabpanel" aria-labelledby="jobThree">
                <div class="panel-body">
                  <div class="gl-jobdetails-sec">
                    <h3>About Job</h3>
                    <p>
                      On the other hand, we denounce with righteous indignation and dislike men who are so begueled and demoralized by the of pleasure so blinded by desire, that they cannot foresee the pain and trouble that are bounds to ensure blame belongs to those who fail in their weakness of will, which is the same
                    </p>
                  </div>

                  <div class="gl-jobdetails-sec">
                    <h3>Requirements</h3>

                    <ul>
                      <li>On the other hand, we denounce with righteous</li>
                      <li>Pleasure of the moment, so blinded by desire, that</li>
                      <li>Blame belongs to those who fail in their duty </li>
                      <li>On the other hand, we denounce</li>
                    </ul>
                  </div>

                  <div class="gl-jobdetails-sec">
                    <a data-remodal-target="modal" class="gl-btn gl-apply-job">Apply</a>
                    <a href="job-single.html" class="gl-btn gl-details-job">Details</a>
                  </div>
                </div>
              </div>
              <!-- END -->
            </div>
            <!-- End -->
          </div>
          <!-- Row End -->

          <!-- *****************
          GALLERY
          ***************** -->
          <div class="gl-element-type-wrapper">
            <!-- Element Name -->
            <h3 class="gl-element-title">Gallery</h3>
            <!-- End -->

            <div class="gl-element-wrapper col-md-12 col-sm-12 col-xs-12">
              <ul class="gl-gallery">
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img">
                      <img src="images/placeholder-standard.jpg" alt="Profile Gallery Image" class="gl-lazy">
                    </a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img">
                      <img src="images/placeholder-standard.jpg" alt="Profile Gallery Image" class="gl-lazy">
                    </a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset=images/placeholder-standard.jpg>
                        <img alt="Category Image" srcset=images/placeholder-standard.jpg>
                    </picture>
                    </a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset=images/placeholder-standard.jpg>
                        <img alt="Category Image" srcset=images/placeholder-standard.jpg>
                    </picture>
                    </a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img">
                      <picture>
                        <source media="(min-width: 768px)" srcset=images/placeholder-standard.jpg>
                        <img alt="Category Image" srcset=images/placeholder-standard.jpg>
                    </picture>
                    </a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img"></a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img"></a>
                  </li>
                  <li>
                    <a href="images/placeholder-standard.jpg" class="gl-lightbox-img"></a>
                  </li>
                </ul>
            </div>
          </div>
          <!-- Tags End -->



        </div>
      </div>
    </section>
    <!-- Elements Shortcode End -->
    <div ng-include="'navigation/footer.html'"></div>
    <script src="js/infobubble-richmarker.js"></script>
</md-content>
