<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
<section class="gl-elements-shortcode-section">
  <div class="container">
    <div class="row">

      <!-- *****************
      Accordion 
      ***************** -->
      <div class="gl-element-type-wrapper">
        <!-- Element Name -->
        <h3 class="gl-element-title">Accordion</h3>
        <!-- End -->

        <div class="gl-element-wrapper">

          <!-- Accorion With Collapse Icon -->
          <div class="gl-accordion-with-icon gl-left-side-col">
            <div class="panel-group" id="gl-accordion-icon" role="tablist" aria-multiselectable="true">
              <!-- Accordion item -->
              <div class="panel panel-default gl-accordion-item">
                <!-- header -->
                <div class="gl-accordion-item-wrapper panel-heading" role="tab" id="gl-accordion-1">
                  <a role="button" data-toggle="collapse" data-parent="#gl-accordion-icon" href="#gl-accordion-1-details" aria-expanded="true" aria-controls="gl-accordion-1-details" class="collapsed">
                    <h3>First Section</h3>
                    <span class="gl-toggle-symbol">
                      <i class="ion-ios-plus-empty"></i>
                    </span>
                  </a>
                </div>
                <!-- END -->

                <!-- Details -->
                <div id="gl-accordion-1-details" class="panel-collapse collapse gl-accordion-details" role="tabpanel" aria-labelledby="gl-accordionone">
                  <div class="panel-body">
                    <p>On the other hand, we denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure  of the moment, blinded belongs to those who</p>
                  </div>
                </div>
                <!-- END -->
              </div>
              <!-- End -->

              <!-- Accordion item -->
              <div class="panel panel-default gl-accordion-item">
                <!-- header -->
                <div class="gl-accordion-item-wrapper panel-heading" role="tab" id="gl-accordion-2">
                  <a role="button" data-toggle="collapse" data-parent="#gl-accordion-icon" href="#gl-accordion-2-details" aria-expanded="true" aria-controls="gl-accordion-2-details" class="collapsed">
                    <h3>Second Section</h3>
                    <span class="gl-toggle-symbol">
                      <i class="ion-ios-plus-empty"></i>
                    </span>
                  </a>
                </div>
                <!-- END -->

                <!-- Details -->
                <div id="gl-accordion-2-details" class="panel-collapse collapse gl-accordion-details" role="tabpanel" aria-labelledby="gl-accordiontwo">
                  <div class="panel-body">
                    <p>On the other hand, we denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure  of the moment, blinded belongs to those who</p>
                  </div>
                </div>
                <!-- END -->
              </div>
              <!-- End -->

              <!-- Accordion item -->
              <div class="panel panel-default gl-accordion-item">
                <!-- header -->
                <div class="gl-accordion-item-wrapper panel-heading" role="tab" id="gl-accordion-3">
                  <a role="button" data-toggle="collapse" data-parent="#gl-accordion-icon" href="#gl-accordion-3-details" aria-expanded="true" aria-controls="gl-accordion-3-details" class="collapsed">
                    <h3>Third Section</h3>
                    <span class="gl-toggle-symbol">
                      <i class="ion-ios-plus-empty"></i>
                    </span>
                  </a>
                </div>
                <!-- END -->

                <!-- Details -->
                <div id="gl-accordion-3-details" class="panel-collapse collapse gl-accordion-details" role="tabpanel" aria-labelledby="gl-accordionthree">
                  <div class="panel-body">
                    <p>On the other hand, we denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure  of the moment, blinded belongs to those who</p>
                  </div>
                </div>
                <!-- END -->
              </div>
              <!-- End -->
            </div>
          </div>
          <!-- Accorion With Collapse Icon End -->

        </div>
      </div>
      <!-- Accordion End -->

    </div>
  </div>
</section>
    <div ng-include="'navigation/footer.html'"></div>
    <script src="js/infobubble-richmarker.js"></script>
</md-content>
