<md-content>
    <div ng-include="'navigation/loading.html'"></div>
    <div ng-include="'navigation/auth.html'" class="loading-hide"></div>
    <div ng-include="'navigation/header.html'" class="loading-hide"></div>
    <!-- HERO IMAGE -->
    <section class="gl-hero-img-wrapper loading-hide">
        <div ng-include="'templates/modal/search.html'"></div>
        <div class="container">
            <div class="row">
                <div class="gl-elements-content-wrapper">
                    <div id="typed-strings">
                         

                        <p>Write a<span class="gl-color-text"> review</span> about your project or locality </p>
                        <p>Find Top Rated <span class="gl-color-text">projects</span> by users</p>
                        <p>Search best<span class="gl-color-text"> projects</span> in Gurgaon</p>
                    </div>
                    <h2 id="gl-slogan" class="gl-hero-text-heading"></h2>
                    <p class="gl-hero-text-paragraph">India's largest property reviewing platform</p>
                    <!-- DIRECTORY FORM -->
                    <div class="gl-directory-searchbar gl-bz-directory-searchbar" onclick="openSeacrh()">
                        <form action="#" id="gl-bz-directory-form">
                            <fieldset>
                                <input type="text" class="gl-directory-input" placeholder="Search by project, builder, landmark or locality">
                            </fieldset>
                            <button class="gl-icon-btn"><i class="fa fa-search"></i> Search</button>
                        </form>
                    </div>
                    <!-- END -->
                 
                </div>
            </div>
        </div>
    </section>
    <!-- HERO IMAGE END -->
    <!-- ICON WITH TEXT/SERVICES -->
    <section class="gl-service-section-wrapper gl-section-wrapper loading-hide" id="gl-next-section">
        <div class="container">
            <div class="row">
                <div class="gl-section-headings">
                    <h1>What we do?</h1>
                    <p>Verified reviews and ratings for hundreds of projects help you find the best project for rent or purchase</p>
                </div>
                <div class="gl-service-we-offer">
                    <!-- ICON WITH TEXT -->
                    <div class="gl-icon-top-with-text col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="gl-icon-wrapper">
                            <img src="images/fingerprint-icon.png" alt="Trusted">
                        </div>
                        <h3>Real Reviews, Real People</h3>
                        <p>Join to see detailed, verified reviews on residential projects and localities.</p>
                    </div>
                    <!-- END -->
                    <!-- ICON WITH TEXT -->
                    <div class="gl-icon-top-with-text col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="gl-icon-wrapper">
                            <img src="images/shield-icon.png" alt="Quality">
                        </div>
                        <h3>Find Best Projects</h3>
                        <p>Compare projects and select the best project for rent or purchase.</p>
                    </div>
                    <!-- END -->
                    <!-- ICON WITH TEXT -->
                    <div class="gl-icon-top-with-text col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".7s">
                        <div class="gl-icon-wrapper">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                        <h3>Roofpik's Support</h3>
                        <p>Share your review, or get help from roofpik to resolve issues.</p>
                    </div>
                </div>
                <!-- END -->
            </div>
        </div>
    </section>
    <!-- ICON WITH TEXT/SERVICES END -->
    <!-- WRITE A REVIEW -->
    <section class="gl-how-it-works-section gl-custom-section gl-section-wrapper loading-hide white-background">
        <div class="container">
            <div class="row">
                <div class="gl-custom-sec-content">
                    <h1>2000+ Reviews</h1>
                    <p>Write a review and help someone find a home. In association with <span class="nanhi-kali"> Nanhi Kali </span>, for every review written we sponsor one day of education for a girl child. </p>
                    <a ng-click="gotoWriteReviews()" class="gl-btn gl-more-btn">Write Review Now</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gl-custom-image-wrapper">
                    <img src="images/review-home.jpg" alt="Custom Image" class="gl-lazy review-home">
                </div>
            </div>
        </div>
    </section>
    <!-- WRITE A REVIEW END -->
    <!-- WHAT YOU NEED SECTION -->
    <section class="gl-what-you-need-section gl-section-wrapper loading-hide">
        <div class="container">
            <div class="row">
                <!-- SECTION HEADINGS -->
                <div class="gl-section-headings">
                    <h1>What you need ?</h1>
                    <p>Checkout and enjoy the biggest unlimited possiblities</p>
                </div>
                <!-- END -->
                <div class="gl-listing-categories-wrapper">
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-dbl-width gl-tour-travel-cat" ng-click="takeToProjectList('family')">
                        <picture>
                            <source media="(min-width: 768px)" srcset=images/family.jpg>
                            <img alt="Category Image" srcset=images/family.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Family</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-hangout-cat" ng-click="takeToProjectList('justMarried')">
                        <picture>
                            <source media="(min-width: 768px)" srcset=images/newlymarried.jpg>
                            <img alt="Category Image" srcset=images/newlymarried.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Just Married</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-dbl-height gl-fashion-cat" ng-click="takeToProjectList('oldAgeFriendly')">
                        <picture>
                            <source media="(min-width: 480px)" srcset=images/old.jpg>
                            <img alt="Category Image" srcset=images/old.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Elderly</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-food-cafe-cat" ng-click="takeToProjectList('kids')">
                        <picture>
                            <source media="(min-width: 480px)" srcset=images/kids.jpg>
                            <img alt="Category Image" srcset=images/kids.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Children</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-dbl-width gl-office-cat" ng-click="takeToProjectList('bachelors')">
                        <picture>
                            <source media="(min-width: 480px)" srcset=images/bachelors.jpg>
                            <img alt="Category Image" srcset=images/bachelors.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Bachelors</span>
                        </a>
                    </div>
                    <!-- END -->
                </div>
            </div>
        </div>
    </section>
    <!-- WHAT YOU NEED SECTION END -->
    <!-- FEATURED LISTINGS -->
    <section class="gl-feat-listing-section gl-section-wrapper loading-hide">
        <div class="container">
            <div class="row">
                <!-- SECTION HEADINGS -->
                <div class="gl-section-headings">
                    <h1>Top Rated Projects</h1>
                    <p>Checkout and enjoy the biggest unlimited possiblities</p>
                </div>
                <!-- END -->
                <!-- WRAPPER -->
                <div class="gl-featured-listing-wrapper">
                    <!-- FEATURED ITEMS -->
                    <div class="gl-featured-items col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s" ng-repeat="project in topRated" ng-click="takeToProjectDetails(project)">
                        <div class="gl-feat-items-img-wrapper">
                            <picture>
                                <source media="(min-width: 768px)" srcset={{project.imgUrl}}>
                                <img alt="Featured Listing" srcset={{project.imgUrl}}>
                            </picture>
                              <span class="gl-price-tag">#{{$index+1}} of {{projectNum}} projects in Gurgaon</span>
                        </div>
                        <div class="gl-feat-item-details">
                            <span class="gl-item-rating">
                              <i class="ion-android-star-outline"></i>
                              {{project.rating}}
                            </span>
                            <h3>
                              <a href="#">{{project.projectName}}</a>
                            </h3>
                            <div class="gl-item-location">
                         <i class="ion-ios-location-outline"></i>       <span>{{project.displayLocation}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- END -->
                </div>
                <!-- END -->
                <!-- MORE BTN -->
                <div class="gl-more-btn-wrapper">
                    <a href="#/project-list/topRated//" class="gl-more-btn gl-btn">More</a>
                </div>
                <!-- END -->
            </div>
        </div>
    </section>
    <!-- FEATURED LISTINGS END -->
    <!-- HOW IT WORKS -->
<!--     <section class="gl-how-it-works-section gl-custom-section gl-section-wrapper loading-hide">
        <div class="container">
            <div class="row">
                <div class="gl-custom-sec-content">
                    <h1>How it works ?</h1>
                    <p>On the other hand, we denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure of the moment, blinded belongs to those who fail in their duty through weakness </p>
                    <a href="#" class="gl-btn gl-more-btn">More</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gl-custom-image-wrapper">
                    <img src="images/placeholder-custom.jpg" alt="Custom Image" class="gl-lazy">
                </div>
            </div>
        </div>
    </section> -->
    <!-- HOW IT WORKS END -->
    <!-- CTA -->
<!--     <section class="gl-cta-section loading-hide">
        <div class="container">
            <div class="row">
                <div class="gl-cta-content-wrapper">
                    <p> We are coming soon for android and ios <span class="gl-bold-font">devices</span> </p>
                    <ul>
                        <li>
                            <a href="#" class="gl-google-play-btn"></a>
                        </li>
                        <li>
                            <a href="#" class="gl-app-store-btn"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!-- CTA END -->
    <div ng-include="'navigation/footer.html'" class="loading-hide"></div>
</md-content>
