<md-content>
<script>
console.log("step 1");
</script>
    <div ng-include="'navigation/loading.html'"></div>

    <!--================================
            SIDE MENU
=================================-->
<!-- PAGE OVERLAY WHEN MENU ACTIVE -->
<script>
console.log("step 3");
</script>
<div class="gl-side-menu-overlay"></div>
<!-- PAGE OVERLAY WHEN MENU ACTIVE END -->
<div class="gl-side-menu-wrap" ng-controller="authCtrl">
    <div ng-include="'templates/modal/otp.html'"></div>
    <div class="gl-side-menu">
        <div class="gl-side-menu-widget-wrap">
            <div class="gl-login-form-wrapper login">
                <h3>User Login</h3>
                <!--         <p>Login to add new listing </p> -->
                <div class="gl-login-form login">
                    <form autocomplete="off" ng-submit="login()">
                        <input type="text" name="gl-user-name" id="gl-user-input" ng-model="user.email" placeholder="Enter your email" autocomplete="off">
                        <input type="password" name="gl-user-password" id="gl-user-password" ng-model="user.password" placeholder="password" autocomplete="off">
                        <button type="submit">Login</button>
                    </form>
                </div>
                <!--     <div class="gl-social-login-opt">
                    <a href="#" class="gl-social-login-btn gl-facebook-login">Login with Facebook</a>
                    <a href="#" class="gl-social-login-btn gl-google-login">Login with Google</a>
                </div> -->
                <div class="gl-other-options">
                    <a ng-click="showForgetPassword()" class="gl-forgot-pass">Forget Password ?</a>
                    <a ng-click="showSignup()" class="gl-signup">Sign up</a>
                </div>
            </div>
            <div class="gl-login-form-wrapper signup">
                <h3>User Signup</h3>
                <!--         <p>Login to add new listing </p> -->
                <div class="gl-login-form">
                    <form autocomplete="off" name="signUp" ng-submit="register()">
                        <!-- <input type="text" name="gl-user-fname" id="signup-user-input" placeholder="First Name" required>
                        <input type="text" name="gl-user-lname" id="signup-user-input" placeholder="Last Name">
                        <input type="text" name="gl-user-email" id="signup-user-input" placeholder="Email">
                        <input type="text" name="gl-user-mobile" id="signup-user-input" placeholder="Mobile">
                        <input type="password" name="gl-user-password" id="signup-user-password" placeholder="password">
                        <button type="submit">Sign Up</button> -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>First Name *</label>
                            <input required md-no-asterisk name="firstname" ng-model="user.firstname" placeholder="enter your first name">
                            <div ng-messages="signUp.firstname.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Last Name *</label>
                            <input required md-no-asterisk name="lastname" ng-model="user.lastname" placeholder="Enter your last name">
                            <div ng-messages="signUp.lastname.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Mobile</label>
                            <input name="mobile" ng-model="user.mobile" placeholder="10 Digit Mobile Number" required ng-pattern="/^[0-9]{10}$/" type="number">
                            <div ng-messages="signUp.mobile.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must supply a mobile number.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid mobile number.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="clientEmail" ng-model="user.email" minlength="6" maxlength="100" ng-pattern="/^.+@.+\..+$/" placeholder="john@email.com" />
                            <div ng-messages="signUp.clientEmail.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 6 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password *</label>
                            <input required md-no-asterisk name="password" type="password" placeholder="must be more than 6 characters" ng-model="user.password" minlength="6">
                            <div ng-messages="signUp.password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="minlength">The password must be more than 6 characters long.</div>
                            </div>
                        </md-input-container>
                        <div>
                            <md-button type="submit">Submit</md-button>
                        </div>
                    </form>
                </div>
                <!--     <div class="gl-social-login-opt">
                    <a href="#" class="gl-social-login-btn gl-facebook-login">Sign up with Facebook</a>
                    <a href="#" class="gl-social-login-btn gl-google-login">Sign up with Google</a>
                </div> -->
                <div class="gl-other-options">
                    <a ng-click="showForgetPassword()" class="gl-forgot-pass">Forget Password ?</a>
                    <a ng-click="showLogin()" class="gl-signup">Login</a>
                </div>
            </div>
            <div class="gl-login-form-wrapper forgetpassword">
                <h3>Forget Password</h3>
                <!--         <p>Login to add new listing </p> -->
                <div class="gl-login-form">
                    <form autocomplete="off" ng-submit="forgetPassword()">
                        <input type="text" name="gl-user-name" id="forgot-user-input" placeholder="Enter your email" autocomplete="off" ng-model="user.email">
                        <button type="submit">Reset Password</button>
                    </form>
                </div>
                <div class="gl-other-options">
                    <a ng-click="showLogin()" class="gl-forgot-pass">Login</a>
                    <a ng-click="showSignup()" class="gl-signup">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <button class="gl-side-menu-close-button" id="gl-side-menu-close-button">Close Menu</button>
</div>
<script>
console.log("step 4");
</script>
<!-- SIDE MENU END -->


<!-- HEADER -->
<header class="gl-header" ng-controller="headerCtrl">
    <!-- BOTTOM BAR/NAVIGATION -->
    <div class="gl-header-bottombar">
        <!-- Navigation Menu start-->
        <nav class="navbar gl-header-main-menu" role="navigation">
            <div class="container-fluid">
                <!-- Navbar Toggle -->
                <div class="navbar-header">
                    <!-- Logo -->
                    <a class="navbar-brand" href="/#/home"><img class="logo" src="../images/logo.png" alt="Roofpik"></a>
                </div>
                <!-- Navbar Toggle End -->
                <!-- navbar-collapse start-->
                <!-- navbar-collapse end-->
                <div class="gl-extra-btns-wrapper">
                    <!-- PROFILE BTN -->
                    <span id="gl-side-menu-btn" ng-show="!login.status"> Sign In </span>
                    <span ng-show="login.status" ng-click="logout()"> Logout </span>
                    <i class="fa fa-map-marker" aria-hidden="true" style="margin-left:20px;"></i>
                    <span>Gurgaon</span>
                    <!-- PROFILE BTN END -->
                </div>
            </div>
        </nav>
        <!-- Navigation Menu end-->
    </div>
    <!-- END -->
</header>

<!-- HEADER END -->
<script>
console.log("step 5");
</script>

<!--     <div ng-include="'navigation/auth.html'" class="loading-hide"></div>

    <div ng-include="'navigation/header.html'" class="loading-hide"></div> -->
    <!-- HERO IMAGE -->

    <section class="gl-hero-img-wrapper loading-hide">
        <div ng-include="'templates/modal/search.html'"></div>
        <div class="container">
            <div class="row">
                <div class="gl-elements-content-wrapper">
                    <div id="typed-strings">
                        <p>Write a<span class="gl-color-text"> review</span> about your project or locality </p>
                        <p>Find Top Rated <span class="gl-color-text">projects</span> by users</p>
                        <p>Search best<span class="gl-color-text"> projects</span> in Gurgaon</p>
                    </div>
                    <h2 id="gl-slogan" class="gl-hero-text-heading"></h2>
                    <p class="gl-hero-text-paragraph">India's largest property reviewing platform</p>
                    <!-- DIRECTORY FORM -->
                    <div class="gl-directory-searchbar gl-bz-directory-searchbar" onclick="openSeacrh()">
                        <form action="#" id="gl-bz-directory-form">
                            <fieldset>
                                <input type="text" class="gl-directory-input" placeholder="Search by project, builder, landmark or locality">
                            </fieldset>
                            <button class="gl-icon-btn"><i class="fa fa-search"></i> Search</button>
                        </form>
                    </div>
                    <!-- END -->
                </div>
            </div>
        </div>
    </section>
    <!-- HERO IMAGE END -->
    <!-- ICON WITH TEXT/SERVICES -->
    <section class="gl-service-section-wrapper gl-section-wrapper loading-hide" id="gl-next-section">
        <div class="container">
            <div class="row">
                <div class="gl-section-headings">
                    <h1>What we do?</h1>
                    <p>Verified reviews and ratings for hundreds of projects help you find the best project for rent or purchase</p>
                </div>
                <div class="gl-service-we-offer">
                    <!-- ICON WITH TEXT -->
                    <div class="gl-icon-top-with-text col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="gl-icon-wrapper">
                            <img src="images/fingerprint-icon.png" alt="Trusted">
                        </div>
                        <h3>Real Reviews, Real People</h3>
                        <p>Join to see detailed, verified reviews on residential projects and localities.</p>
                    </div>
                    <!-- END -->
                    <!-- ICON WITH TEXT -->
                    <div class="gl-icon-top-with-text col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="gl-icon-wrapper">
                            <img src="images/shield-icon.png" alt="Quality">
                        </div>
                        <h3>Find Best Projects</h3>
                        <p>Compare projects and select the best project for rent or purchase.</p>
                    </div>
                    <!-- END -->
                    <!-- ICON WITH TEXT -->
                    <div class="gl-icon-top-with-text col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".7s">
                        <div class="gl-icon-wrapper">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                        <h3>Roofpik's Support</h3>
                        <p>Share your review, or get help from roofpik to resolve issues.</p>
                    </div>
                </div>
                <!-- END -->
            </div>
        </div>
    </section>
    <!-- ICON WITH TEXT/SERVICES END -->
    <!-- WRITE A REVIEW -->
    <section class="gl-how-it-works-section gl-custom-section gl-section-wrapper loading-hide white-background">
        <div class="container">
            <div class="row">
                <div class="gl-custom-sec-content">
                    <h1>2000+ Reviews</h1>
                    <p>Write a review and help someone find a home. In association with <span class="nanhi-kali"> Nanhi Kali </span>, for every review written we sponsor one day of education for a girl child. </p>
                    <a ng-click="gotoWriteReviews()" class="gl-btn gl-more-btn">Write Review Now</a>
                </div>
            </div>
        </div>
        <!--       <div class="container-fluid">
            <div class="row">
                <div class="gl-custom-image-wrapper">
                    <img src="images/review-home.jpg" alt="Custom Image" class="gl-lazy review-home">
                </div>
            </div>
        </div> -->
    </section>
    <!-- WRITE A REVIEW END -->
    <!-- WHAT YOU NEED SECTION -->
    <section class="gl-what-you-need-section gl-section-wrapper loading-hide">
        <div class="container">
            <div class="row">
                <!-- SECTION HEADINGS -->
                <div class="gl-section-headings">
                    <h1>Find the best projects for!!</h1>
                    <p>Checkout and enjoy the biggest unlimited possiblities</p>
                </div>
                <!-- END -->
                <div class="gl-listing-categories-wrapper">
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-dbl-width gl-tour-travel-cat" ng-click="takeToProjectList('family')">
                        <picture>
                            <source media="(min-width: 768px)" srcset=images/family.jpg>
                            <img alt="Category Image" srcset=images/family.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Family</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-hangout-cat" ng-click="takeToProjectList('justMarried')">
                        <picture>
                            <source media="(min-width: 768px)" srcset=images/newlymarried.jpg>
                            <img alt="Category Image" srcset=images/newlymarried.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Just Married</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-dbl-height gl-fashion-cat" ng-click="takeToProjectList('oldAgeFriendly')">
                        <picture>
                            <source media="(min-width: 480px)" srcset=images/old.jpg>
                            <img alt="Category Image" srcset=images/old.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Elderly</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-food-cafe-cat" ng-click="takeToProjectList('kids')">
                        <picture>
                            <source media="(min-width: 480px)" srcset=images/kids.jpg>
                            <img alt="Category Image" srcset=images/kids.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Children</span>
                        </a>
                    </div>
                    <!-- END -->
                    <!-- CATEGORY ITEM -->
                    <div class="gl-listing-cat-item gl-dbl-width gl-office-cat" ng-click="takeToProjectList('bachelors')">
                        <picture>
                            <source media="(min-width: 480px)" srcset=images/bachelors.jpg>
                            <img alt="Category Image" srcset=images/bachelors.jpg>
                        </picture>
                        <a class="gl-img-overlay-effect">
                            <span class="gl-cat-title">Bachelors</span>
                        </a>
                    </div>
                    <!-- END -->
                </div>
            </div>
        </div>
    </section>
    <!-- WHAT YOU NEED SECTION END -->
    <!-- FEATURED LISTINGS -->
    <section class="gl-feat-listing-section gl-section-wrapper loading-hide">
        <div class="container">
            <div class="row">
                <!-- SECTION HEADINGS -->
                <div class="gl-section-headings">
                    <h1>Top Rated Projects</h1>
                    <p>Checkout and enjoy the biggest unlimited possiblities</p>
                </div>
                <!-- END -->
                <!-- WRAPPER -->
                <div class="gl-featured-listing-wrapper">
                    <!-- FEATURED ITEMS -->
                    <div class="gl-featured-items col-md-4 col-sm-4 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s" ng-repeat="project in topRated" ng-click="takeToProjectDetails(project)">
                        <div class="gl-feat-items-img-wrapper">
                            <picture>
                                <source media="(min-width: 768px)" srcset="{{project.imgUrl}}">
                                <img alt="Featured Listing" srcset="{{project.imgUrl}}">
                            </picture>
                            <span class="gl-price-tag">#{{$index+1}} of {{projectNum}} projects in Gurgaon </span>
                        </div>
                        <div class="gl-feat-item-details">
                            <span class="gl-item-rating">
                              <i class="ion-android-star-outline"></i>
                              {{project.rating}}
                            </span>
                            <h3>
                              <a href="#">{{project.projectName}}</a>
                            </h3>
                            <div class="gl-item-location">
                                <i class="ion-ios-location-outline"></i> <span>{{project.displayLocation}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- END -->
                </div>
                <!-- END -->
                <!-- MORE BTN -->
                <div class="gl-more-btn-wrapper">
                    <a href="#/project-list/topRated//" class="gl-more-btn gl-btn">More</a>
                </div>
                <!-- END -->
            </div>
        </div>
    </section>
    <!-- FEATURED LISTINGS END -->
    <!-- HOW IT WORKS -->
    <!--     <section class="gl-how-it-works-section gl-custom-section gl-section-wrapper loading-hide">
        <div class="container">
            <div class="row">
                <div class="gl-custom-sec-content">
                    <h1>How it works ?</h1>
                    <p>On the other hand, we denounce with righteous indignation and dislike men beguiled and demoralized by the charms of pleasure of the moment, blinded belongs to those who fail in their duty through weakness </p>
                    <a href="#" class="gl-btn gl-more-btn">More</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="gl-custom-image-wrapper">
                    <img src="images/placeholder-custom.jpg" alt="Custom Image" class="gl-lazy">
                </div>
            </div>
        </div>
    </section> -->
    <!-- HOW IT WORKS END -->
    <!-- CTA -->
    <!--     <section class="gl-cta-section loading-hide">
        <div class="container">
            <div class="row">
                <div class="gl-cta-content-wrapper">
                    <p> We are coming soon for android and ios <span class="gl-bold-font">devices</span> </p>
                    <ul>
                        <li>
                            <a href="#" class="gl-google-play-btn"></a>
                        </li>
                        <li>
                            <a href="#" class="gl-app-store-btn"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!-- CTA END -->
    <script>
console.log("step 6");
</script>

<!-- FOOTER -->
<script>
console.log('step 7');
</script>
<footer>
    <!-- FOOTER TOP -->
    <div class="gl-footer-top-wrapper">
        <div class="container">
            <div class="row">
                <!-- FOOTER WIDGET -->
                <div class="gl-footer-widget gl-footer-logo gl-footer-fixed-widget">
                    <a href="#">
                        <img src="../images/logo.png" alt="Roofpik">
                    </a>
                </div>
                <!-- END -->
                <!-- FOOTER WIDGET -->
                <div class="gl-footer-widget gl-contact-info">
                    <h3 class="gl-footer-widget-title">Contact info</h3>
                    <div class="gl-footer-widget-content">
                        <ul>
                            <li><i class="fa fa-map-marker"></i>250, Vipul Trade Center, Sector 48, Gurgaon</li>
                            <li><i class="fa fa-phone"></i>+91 124 438 4167</li>
                            <li><i class="fa fa-envelope-o"></i>contact@roofpik.com</li>
                            <li><i class="fa fa-globe"></i>www.roofpik.com</li>
                        </ul>
                    </div>
                </div>
                <!-- END -->
                <!-- FOOTER WIDGET -->
                <div class="gl-footer-widget gl-useful-links">
                    <h3 class="gl-footer-widget-title">Company</h3>
                    <div class="gl-footer-widget-content">
                        <ul>
                            <li><a ui-sref="about-us">About Us</a></li>
                            <li><a ui-sref="faq">FAQ's</a></li>
                            <li><a ui-sref="career-n-goals">Career &amp; Goal</a></li>
                            <li><a ui-sref="contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
    <!-- END -->
    <!-- FOOTER BOTTOM -->
    <div class="gl-footer-bottom-wrapper">
        <div class="container">
            <div class="row">
                <!-- COPYRIGHT INFO -->
                <div class="gl-copyright-info-wrapper">
                    <p>Copyright &copy; 2016 AlphaBinary Technologies Pvt Ltd. All rights reserved</p>
                </div>
                <!-- COPYRIGHT INFO -->
                <div class="gl-social-info-wrapper">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/roofpik">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/roofpik">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->
</footer>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- <div ng-include="'navigation/footer.html'"></div> -->
</md-content>

