<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <!-- PAGE CONTETNT -->

    <!-- FEATURED IMAGE -->
    <section class="gl-featured-image-wrapper">
        <picture>
            <source media="(min-width: 768px)" srcset=images/placeholder-featured-post.jpg>
            <img alt="Featured Image" srcset=images/placeholder-featured-post.jpg>
        </picture>
    </section>
    <!-- FEATURED IMAGE END -->
    <section class="gl-page-content-section">
        <div class="container" ng-show="dataLoaded">
            <div class="row">
                <div class="gl-blog-details-wrapper">
                    <div class="gl-blog-heading-metas" id="reviewHeading">
                        <h1 class="gl-blog-titles">{{projectName}}</h1>
                        <p class="gl-comments-date">{{project.projectDetails.address.displayLocation}}</p>
                        <p class="gl-comments-date">{{project.projectStatus}}</p>
                        <p class="gl-comments-date">{{bhkAvailable}}</p>
                    </div>
                    <div layout="row" class="gl-search-meta-wrapper" ng-show="project.standoutFeatures">
                        <div class="gl-search-tags">
                          <a class="gl-tag-btn" ng-repeat="tag in features">{{tag}}</a>
                        </div>
                    </div>
                    <div layout="row">
                        <!-- <div flex>
                            <h3 class="gl-standout-features-title">Area</h3>
                        </div> -->
                        <div flex class="gl-project-description">
                            <p><span class="roofpikGreen" ng-show="project.area">Area</span>  <span class="gl-ranges">{{project.area.min}} Sq.Ft. - {{project.area.max}} Sq.Ft.</span></p>
                            <p><span class="roofpikGreen" ng-show="project.price">Rent</span>  <span class="gl-ranges">&#8377; {{project.price.rent.min}} - &#8377; {{project.price.rent.max}}</span></p>
                            <p><span class="roofpikGreen" ng-show="project.price">Buy</span>  <span class="gl-ranges">&#8377; {{project.price.buy.min}} - &#8377; {{project.price.buy.max}}</span></p>
                            </br>
                            <p class="gl-comments-date">{{project.projectDetails.address.addressLine1}} <i class="ion-ios-location-outline"></i></p>
                            <p class="gl-comments-date">{{project.projectDetails.address.addressLine2}}</p>
                        </div>
                        <div flex class="gl-project-description" ng-show="project.pricingLinks">
                            <div layout="row" class="gl-buy-rent-links">
                                <div class="gl-buy" flex>
                                    <span ng-click="selectBuyRent('buy')">Buy  <i class="ion-checkmark-round" ng-show="buySelected"></i></span>
                                </div>
                                <div class="gl-rent" flex>
                                    <span ng-click="selectBuyRent('rent')">Rent  <i class="ion-checkmark-round" ng-show="rentSelected"></i></span>
                                </div>
                            </div>
                            <div layout="row" layout-align="center">
                                <div class="projectBuyLinks" ng-show="buySelected">
                                    <div class="cf">
                                        <a href="{{buyLinks.cf}}">
                                        <img src="images/cf.jpg" style="margin: 26px;height: 80px;width: 150px;border: 1px solid #ccc;border-radius: 5px;">
                                        </a>
                                    </div>
                                    <div class="mb">
                                        <img src="images/mb.png" style="margin: 26px;height: 80px;width: 150px;border: 1px solid #ccc;border-radius: 5px;">
                                    </div>
                                    <div class="acres">
                                        <img src="images/acres.png" style="margin: 26px;height: 80px;width: 150px;border: 1px solid #ccc;border-radius: 5px;">
                                    </div>
                                </div>
                                <div class="projectRentLinks" ng-show="rentSelected">
                                    <div class="cf">
                                        <img src="images/cf.jpg" style="margin: 26px;height: 80px;width: 150px;border: 1px solid #ccc;border-radius: 5px;">
                                    </div>
                                    <div class="mb">
                                        <img src="images/mb.png" style="margin: 26px;height: 80px;width: 150px;border: 1px solid #ccc;border-radius: 5px;">
                                    </div>
                                    <div class="acres">
                                        <img src="images/acres.png" style="margin: 26px;height: 80px;width: 150px;border: 1px solid #ccc;border-radius: 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gl-post-comments-wrapper">
                        <h3 class="gl-blog-sec-title">REVIEWS</h3>
                        <!-- Reviews -->
                        <div layout="row">
                            <div flex="66">
                                <div class="gl-comments" ng-repeat="review in reviews">
                                    <!-- USER IMG -->
                                    <div class="gl-user-img">
                                        <img src="images/noImage.png" alt="User" class="gl-lazy">
                                    </div>
                                    <!-- END -->
                                    <!-- TEXT -->
                                    <div class="gl-comment-text">
                                        <div class="gl-username-date">
                                            <div class="gl-comment-title-description">
                                                <h3>
                                                    <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.overallRating-1))?'golden':'grey'"></i> </span>
                                                    <!-- <span ng-repeat="counter in starrating(5-(review.overallRating)) track by $index"><i class="icon ion-ios-star-outline"></i></span> -->
                                                </h3>
                                                <h3 ng-show="!review.anonymous">{{review.reviewTitle}}</h3>
                                            </div>
                                            <div class="gl-comment-title-description">
                                                <h4 ng-show="!review.anonymous">{{review.userName}}</h4>
                                                <h4 ng-show="review.anonymous">Anonymous</h4>
                                                <p class="gl-comments-date">| {{review.createdDate | date:'medium'}}</p>
                                            </div>
                                        </div>
                                        <p>{{review.reviewText}}</p>
                                        <p ng-click="showMore(review)" class="moreLess" ng-class="review.moreOrLess=='Show More'? 'roofpikGreen':'roofpikGrey'">{{review.moreOrLess}}</p>
                                        <div ng-show="review.showRest" class="other-params">
                                            <div layout="row" ng-show="review.ratings.security">
                                                <div flex>
                                                    <p>Security</p>
                                                </div>
                                                <div flex class="starRatings">
                                                    <h4>
                                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.ratings.security-1))?'golden':'grey'"></i> </span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div layout="row" ng-show="review.ratings.amenities">
                                                <div flex>
                                                    <p>Amenities</p>
                                                </div>
                                                <div flex class="starRatings">
                                                    <h4>
                                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.ratings.amenities-1))?'golden':'grey'"></i> </span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div layout="row" ng-show="review.ratings.openAndGreenAreas">
                                                <div flex>
                                                    <p>Open and Green Areas</p>
                                                </div>
                                                <div flex class="starRatings">
                                                    <h4>
                                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.ratings.openAndGreenAreas-1))?'golden':'grey'"></i> </span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div layout="row" ng-show="review.ratings.electricityAndWaterSupply">
                                                <div flex>
                                                    <p>Electricity and Water Supply</p>
                                                </div>
                                                <div flex class="starRatings">
                                                    <h4>
                                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.ratings.electricityAndWaterSupply-1))?'golden':'grey'"></i> </span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div layout="row" ng-show="review.ratings.convenienceOfHouseMaids">
                                                <div flex>
                                                    <p>Convenience of Housemaids</p>
                                                </div>
                                                <div flex class="starRatings">
                                                    <h4>
                                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.ratings.convenienceOfHouseMaids-1))?'golden':'grey'"></i> </span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div layout="row" ng-show="review.ratings.convenienceOfParking">
                                                <div flex>
                                                    <p>Convenience of Parking</p>
                                                </div>
                                                <div flex class="starRatings">
                                                    <h4>
                                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index"><i class="icon ion-ios-star" ng-class="($index<=(review.ratings.convenienceOfParking-1))?'golden':'grey'"></i> </span>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div layout="row">
                                                <div flex="80">
                                                    <p>Is the project conveniently located?</p>
                                                </div>
                                                <div flex="20" id="yesNoQues">
                                                    <p>{{review.projectConvenientlyLocated}}</p>
                                                </div>
                                            </div>
                                            <div layout="row">
                                                <div flex="80">
                                                    <p>Do you have easy access to public transport?</p>
                                                </div>
                                                <div flex="20" id="yesNoQues">
                                                    <p>{{review.easyAccessToPublicTransport}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END -->
                                </div>
                            </div>
                            <div flex="33">
                                <div class="rating-summary">
                                    <h4 class="overall-ratings-headings">OVERALL RATING ({{allRatings.overallRating}})</h4>
                                    <h3>
                                        <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                            <i class="icon ion-ios-star" ng-class="($index<=(allRatings.overallRating-1))?'golden':'grey'"></i> 
                                        </span>
                                    </h3>
                                    <h5>Ratings from {{allRatings.overallRatingNum}} reviews</h5>
                                </div>
                                <div class="rating-summary">
                                    <h4 class="overall-ratings-headings">USER RATINGS</h4>
                                    <div layout="row">
                                        <div flex>Excellent <span class="roofpikGreen">({{allRatings.fiveStar}})</span></div>
                                        <div flex>
                                            <div class="progress-bar">
                                                <span class="my-progress" id="excellentStar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex>Very Good <span class="roofpikGreen">({{allRatings.fourStar}})</span></div>
                                        <div flex>
                                            <div class="progress-bar">
                                                <span class="my-progress" id="veryGoodStar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex>Good <span class="roofpikGreen">({{allRatings.threeStar}})</span></div>
                                        <div flex>
                                            <div class="progress-bar">
                                                <span class="my-progress" id="goodStar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex>Average <span class="roofpikGreen">({{allRatings.twoStar}})</span></div>
                                        <div flex>
                                            <div class="progress-bar">
                                                <span class="my-progress" id="averageStar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div flex>Bad <span class="roofpikGreen">({{allRatings.oneStar}})</span></div>
                                        <div flex>
                                            <div class="progress-bar">
                                                <span class="my-progress" id="badStar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rating-summary">
                                    <h4 class="overall-ratings-headings">RATING SUMMARY</h4>
                                    <p ng-show="allRatings.amenities">
                                        <span>Amenities <span class="roofpikGreen">({{allRatings.amenities}})</span></span>
                                        <span class="overall-ratings">
                                            <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                                <i class="icon ion-ios-star" ng-class="($index<=(allRatings.amenities-1))?'golden':'grey'"></i> 
                                            </span>
                                        </span>
                                    </p>
                                    <p ng-show="allRatings.security">
                                        <span>Security <span class="roofpikGreen">({{allRatings.security}})</span></span>
                                        <span class="overall-ratings">
                                            <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                                <i class="icon ion-ios-star" ng-class="($index<=(allRatings.security-1))?'golden':'grey'"></i> 
                                            </span>
                                        </span>
                                    </p>
                                    <p ng-show="allRatings.openAndGreenAreas">
                                        <span>Open And Green Areas <span class="roofpikGreen">({{allRatings.openAndGreenAreas}})</span></span>
                                        <span class="overall-ratings">
                                            <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                                <i class="icon ion-ios-star" ng-class="($index<=(allRatings.openAndGreenAreas-1))?'golden':'grey'"></i> 
                                            </span>
                                        </span>
                                    </p>
                                    <p ng-show="allRatings.electricityAndWaterSupply">
                                        <span>Electricity And Water Supply <span class="roofpikGreen">({{allRatings.electricityAndWaterSupply}})</span></span>
                                        <span class="overall-ratings">
                                            <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                            <i class="icon ion-ios-star" ng-class="($index<=(allRatings.electricityAndWaterSupply-1))?'golden':'grey'"></i>
                                            </span>
                                        </span>
                                    </p>
                                    <p ng-show="allRatings.convenienceOfHouseMaids">
                                        <span>Convenience Of House Maids <span class="roofpikGreen">({{allRatings.convenienceOfHouseMaids}})</span></span>
                                        <span class="overall-ratings">
                                            <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                                <i class="icon ion-ios-star" ng-class="($index<=(allRatings.convenienceOfHouseMaids-1))?'golden':'grey'"></i>
                                            </span>
                                        </span>
                                    </p>
                                    <p ng-show="allRatings.convenienceOfParking">
                                        <span>Convenience Of Parking <span class="roofpikGreen">({{allRatings.convenienceOfParking}})</span></span>
                                        <span class="overall-ratings">
                                            <span ng-repeat="rate in [1,2,3,4,5] track by $index" >
                                                <i class="icon ion-ios-star" ng-class="($index<=(allRatings.convenienceOfParking-1))?'golden':'grey'"></i>
                                            </span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE CONTETNT END -->
    <div ng-include="'navigation/footer.html'"></div>
    <script src="js/infobubble-richmarker.js"></script>
</md-content>
