<!-- <md-card flex id="content"  class="md-padding" style="background:#fff"> -->
<div layout="row" layout-align="center center">
    <md-card class="md-padding" flex="33">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Welcome!!</span>
                <span class="md-subhead">Your mobile 9910252444 has been registered with us and we have sent you a confirmation email. Please verify your email before login</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="user.password" type="password">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input ng-model="user.confirmPassword" type="password">
            </md-input-container class="md-block">
            <div layout="row">
                <md-button class="md-raised md-primary">Register</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
