<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <!-- PAGE CONTETNT -->
    <section class="gl-page-content-section">
        <div class="container-fluid">
            <div class="row">
                <div id="gl-result-section" class="gl-search-map-result-wrapper">
                    <!-- SEARCH -->
                    <div class="gl-search-filter-result-wrapper">
                        <!-- SEARCH META -->
                        <div class="gl-search-meta-wrapper">
                            <p class="gl-search-number">8 Results found</p>
                            <div class="gl-search-tags">
                                <a href="#" class="gl-tag-btn gl-design">design</a>
                                <a href="#" class="gl-tag-btn gl-ideas">ideas</a>
                                <a href="#" class="gl-tag-btn gl-remote">remote</a>
                            </div>
                            <a href="#" class="gl-reset-btn">Reset</a>
                        </div>
                        <!-- SEARCH META END -->
                        <div class="gl-search-result-wrapper">
                            <!-- FEATURED ITEMS -->
                            <div class="gl-featured-items col-md-6 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay=".3s" ng-repeat="project in projects">
                                <div class="gl-feat-items-img-wrapper">
                                    <picture>
                                        <source media="(min-width: 768px)" srcset={{project.images.main.url}}>
                                        <img alt="Category Image" srcset={{project.images.main.url}}>
                                    </picture>
                                </div>
                                <div class="gl-feat-item-details">
                                    <h3>
                                    <a href="#">{{project.projectName}}</a>
                                    </h3>
                                    <div class="gl-item-location">
                                        <i class="ion-ios-location-outline"></i>
                                        <span>{{project.projectDetails.address.displayLocation}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END -->
                            </div>
                            </div>
                    <!-- SEARCH END-->
                    <!-- SEARCH MAP -->
                    <div class="gl-search-map-wrapper gl-split-map">
                        <div id="gl-search-map"></div>
                        <a href="#gl-result-section" class="gl-scroll-down gl-btn">result</a>
                    </div>
                    <!-- SEARCH MAP END -->
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE CONTETNT END -->
    <div ng-include="'navigation/footer.html'"></div>
    <script src="js/infobubble-richmarker.js"></script>
<script src="js/business-map/google-searchmap-init.js"></script>

</md-content>
