<style type="text/css">
.review-tips {
    background-color: #dddddd;
}

.review-form {
    background-color: #ffffff;
}

.rating span {
    font-size: 30px;
}
.searchList {
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #f2f2f2;
    margin: -16px auto 8px auto;
    width: 100%;
    box-shadow: 5px 6px 10px 0 rgba(0,0,0,0.2);
}
.review-search-list {
    padding: 0px;
}
.review-search-item {
    border-bottom:1px solid #e6e6e6;
    background-color:#f2f2f2;
}

md-radio-group {
    float:right;
}
</style>
<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <section class="gl-elements-shortcode-section">
        <div class="container">
            <div class="row">
                <div layout="row" class="">
                    <div flex="75" class="md-padding review-form" id="outer-box">
                        <div id="gl-review-loader-wrapper" ng-hide="loginStatus">
                            <div id="gl-review-loader-center">
                                <div class="gl-review-load">
                                    <h2>Please Login First</h2>
                                    <a ng-click="openLogin()" class="gl-btn gl-large-btn gl-btn-color-3">Login/Signup</a>
                                </div>
                            </div>
                        </div>
                        <form name="review-form">
                            <div layout="row" class="md-padding">
                                <div flex>
                                    <md-input-container class="md-block">
                                        <input ng-model="selectedItem" placeholder="Select Project/Locality" ng-change="nameEntered()" required>
                                    </md-input-container>
                                    <div class="searchList" ng-show="showList">
                                        <md-list class="review-search-list">
                                            <md-list-item ng-repeat="item in projectLocality|filter:selectedItem" class="review-search-item" ng-click="selectProjectLocality(item)">
                                                {{item.name}}
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="showRequired">
                                <div layout="row">
                                    <div flex="75"></div>
                                    <div flex="25">
                                        (*Required)
                                    </div>
                                </div>
                            </div> -->
                            <div layout="row" class="md-padding">
                                Are you a *
                                <span flex></span>
                                <md-radio-group ng-model="review.userType" layout="row" class="md-warn" required>
                                    <md-radio-button value="Owner"> Owner </md-radio-button>
                                    <md-radio-button value="Tenant"> Tenant </md-radio-button>
                                    <md-radio-button value="Visitor"> Visitor </md-radio-button>
                                </md-radio-group>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Overall rating *
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='1'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding">
                                <div flex>
                                    <md-input-container class="md-block">
                                        <input ng-model="review.reviewTitle" placeholder="Review Title" required>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" >
                                <div flex class="md-padding">
                                    <md-input-container class="md-block">
                                        <textarea ng-model="review.reviewText" md-maxlength="500" rows="5" placeholder="Write your review" required></textarea>
                                    </md-input-container>
                                </div>
                            </div>
                            
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Security
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='2'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Amenities
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='3'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Open and green areas
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='4'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Electricity and water supply
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='5'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Convinience of housemaids
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='6'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding rating">
                                <div flex="30">
                                    Convinience of parking
                                </div>
                                <span flex></span>
                                <div flex="20">
                                    <ionic-ratings ratingsobj='ratingsObject' index='7'></ionic-ratings>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" class="md-padding">
                                <div flex="75">
                                    Is the project conveniently located ?
                                </div>
                                <div flex="25">
                                    <md-radio-group ng-model="review.projectConvenientlyLocated" layout="row" class="md-warn">
                                        <md-radio-button value="Yes"> Yes</md-radio-button>
                                        <md-radio-button value="No"> No </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div layout="row" class="md-padding">
                                <div flex="75">
                                    Do you have easy access to public transport ?
                                </div>
                                <div flex="25">
                                    <md-radio-group ng-model="review.easyAccessToPublicTransport" layout="row" class="md-warn">
                                        <md-radio-button value="Yes"> Yes </md-radio-button>
                                        <md-radio-button value="No"> No </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                            <div layout="row" class="md-padding">
                                <div flex="75">
                                    Do you think a property reviewing platform like this would be useful for you in the future ?
                                </div>
                                <div flex="25">
                                    <md-radio-group ng-model="review.useful" layout="row" class="md-warn">
                                        <md-radio-button value="Yes"> Yes </md-radio-button>
                                        <md-radio-button value="No"> No </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </form>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-warn" ng-click="submitReview(review)" ng-disabled="review-form.$invalid">Submit</md-button>
                        </div>
                    </div>
                    <div flex="25" class="md-padding review-tips">
                        <h3 class="gl-sub-heading">Review Writing Tips</h3>
                        <p><b>Help your fellow apartment seeker get the most out of your review with the following tips:</b></p>
                        <p><b>Be Specific </b>- Don't just complain about something but rather describe specific thing you do or don't like. Explain what happened. We've found users lend more weight to a review with details.</p>
                        <p><b>Be Courteous and Honest</b> - Describe your experience, be it good or bad, but don't go overboard. Keep your review precise and to the point. We value open expression, but profanity and hateful speech are not allowed on the site.</p>
                        <p><b>Add Photos </b>- A picture tells a thousand words, or so they say.</p>
                        <p><b>No Personal Info </b>- We don't allow reviews with names, phone numbers, email or other contact info, so please avoid using it.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'navigation/footer.html'"></div>
</md-content>
