<style type="text/css">
    .review-form {
        width: 70%;
        height: auto;
        float: left;
    }
    .review-tips {
        width: 30%;
        height: auto;
        float: right;
        padding: 20px;
    }
</style>
<md-content>
    <div ng-include="'navigation/auth.html'"></div>
    <div ng-include="'navigation/header.html'"></div>
    <section class="gl-elements-shortcode-section">
        <div class="container">
            <div class="row">     
                <div class="review-form">
                    <div class="gl-row">
                        <h3 class="gl-sub-heading">Write Review Form</h3>

                        <form action="#" class="gl-contact-form">
                            <fieldset class="gl-form-fields">
                                <div class="gl-input-area">
                                    <input type="text" name="gl-contact-name" id="gl-contact-name" placeholder="Name">
                                </div>
                            </fieldset>
                        </form>
                        <form action="#" class="gl-review-submission-form">
                            <fieldset class="gl-form-fields">
                                <div class="gl-rating-wrapper">
                                  <h4>Give your Rating</h4>

                                  <!-- QUALITY -->
                                  <div class="gl-rating-inputs">
                                      <span class="gl-rating-title">Quality</span>
                                      <div class="gl-rating-wrap">
                                          <span id="gl-quality-rating"></span>
                                      </div>
                                  </div>
                                  <!-- END -->

                                  <!-- SERVICE -->
                                  <div class="gl-rating-inputs">
                                      <span class="gl-rating-title">Service</span>
                                      <div class="gl-rating-wrap">
                                          <span id="gl-service-rating"></span>
                                      </div>
                                  </div>
                                  <!-- END -->

                                  <!-- RESPONSE -->
                                  <div class="gl-rating-inputs">
                                      <span class="gl-rating-title">Response</span>
                                      <div class="gl-rating-wrap">
                                          <span id="gl-response-rating"></span>
                                      </div>
                                  </div>
                                  <!-- END -->

                                  
                                  <!-- <span class="gl-rating-number">4.5</span> -->
                                </div>

                                <div class="gl-input-area">
                                  <input type="text" name="gl-reviewer-name" id="gl-reviewer-name" placeholder="Name">
                                  <input type="email" name="gl-reviewer-email" id="gl-reviewer-email" placeholder="Email">
                                  <textarea name="gl-reviewer-message" id="gl-reviewer-message" cols="30" rows="10" placeholder="Your Comment"></textarea>
                                </div>
                            </fieldset>
                            <fieldset class="gl-submit-wrapper">
                                <input type="submit" value="Submit" class="gl-btn">
                            </fieldset>
                        </form>
                      </div>

                </div>
                <div class="review-tips">
                    <h3 class="gl-sub-heading">Review Writing Tips</h3>
                    <p><b>Help your fellow apartment seeker get the most out of your review with the following tips:</b></p>
                    <p><b>Be Specific </b>- Don't just complain about something but rather describe specific thing you do or don't like. Explain what happened. We've found users lend more weight to a review with details.</p>

                    <p><b>Be Courteous and Honest</b> - Describe your experience, be it good or bad, but don't go overboard. Keep your review precise and to the point. We value open expression, but profanity and hateful speech are not allowed on the site.</p>

                    <p><b>Add Photos </b>- A picture tells a thousand words, or so they say.</p>

                    <p><b>No Personal Info </b>- We don't allow reviews with names, phone numbers, email or other contact info, so please avoid using it.</p>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'navigation/footer.html'"></div>
</md-content>
